.body-content {
    margin-top: 20px;
    width: 95%;
    max-width: 600px;
}

.col-left {
    position: relative;
    width: 50%;
    float: left;
}

.col-right {
    position: relative;
    width: 50%;
    float: right;
}

.row {
    position: center;
    float: inherit;
    text-align: center;
    height: 10%;
    width: 95%;
    margin: 20px;
    max-width: 200px;
    background-color: greenyellow;
}

.btn-logout {
    float: right;
    background-color: #e7e7e7;
    color: black;
    border: none;
    max-width: 150px;
    height: 30px;
    text-decoration: none;
    font-size: 16px;
    width: 30%;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

