.content {
    max-width: 600px;
    margin: auto;
}

.upper {
    margin-top: 15px;
    overflow: auto;
}

.lbl-container {
    width: 30%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.upper input {
    border: solid;
    color: whitesmoke;
    height: 40px;
    width: 100%;
    background-color: #52565e;
    border-radius: 4px;
}

.upper-left {
    width: 50%;
    float: left;
    text-align: right;
}

.upper-right {
    width: 50%;
    float: right;
    text-align: left;
}

.mid {
    margin-top: 15px;
    min-height: 370px;
    margin-bottom: 15px;
}

.mid ul {
    list-style-type: none;
}

.order-list {
    position: relative;
    margin-top: 20px;
    margin-top: 30px;
    max-width: 600px;
}

li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.div-left {
    position: relative;
    width: 80%;
    float: left;
    overflow: auto;
}

.div-right {
    position: relative;
    width: 20%;
    float: right;
    text-align: center;
}

.btn {
    background-color: #e7e7e7;
    color: black;
    border: none;
    max-width: 150px;
    height: 30px;
    text-decoration: none;
    font-size: 16px;
}

.btn-betaal {
    float:right;
}
